# IntelliJ
.idea/
/*.iml
workspace.xml
shelf/

# Build output
build/
target/
out/
bin/

# Gradle
/.gradle/
/gradle/
/gradlew
gradlew.bat

# Java
*.class
*.jar
*.war
*.log

# OS stuff
.DS_Store
Thumbs.db

# Misc
*.tmp
pom.xml